---
layout: default
robots: noindex
---

<ul class="timeline">
  {% for project in site.data.projects %}
    <li class="timeline-inverted">
      <div class="timeline-image">
        <img class="img-me" src="{{ project.img | prepend: site.baseurl }}" alt="">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          {% if project.link %}
            <h4><a href="{{ project.link }}" target="_blank">{{ project.name }}</a></h4>
          {% else %}
            <h4>{{ project.name }}</h4>
          {% endif %}
        </div>
        <div class="timeline-body">
          {% if project.description %}
            {{ project.description | markdownify }}
          {% else %}
            <span class="desc">No description provided.</span>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
